@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;700&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 12px;
}

@media (min-width: 970px) {
    body {
        padding: 0px;
    }
}

/* comienzo estilos header */

header {
    display: none;
    font-family: "Agbalumo";
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #A8D2Bf, rgb(193 189 189), #E9BAD9);
}

@media (min-width: 970px) {
    header {
        display: block;
    }
}

nav {
    height: 90px;
    font-size: 1.5rem;
    margin: auto;
}

@media (min-width: 970px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 1200px;
    }
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 10px 0;
    animation-duration: 3s;
    animation-name: movimiento-items;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes movimiento-items {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

nav a {
    color: mintcream;
}

a {
    text-decoration: none;
}

.nav-contacto {
    border: 2px solid;
    padding: 8px 30px 10px 30px;
    border-radius: 37px;
}

/* fin estilos header */

/* comienzo estilos main */

/* estilos sección hola*/
section {
    scroll-margin-top: 90px;
}

.hola,
.conocimientos,
.frase,
.proyectos,
.contacto,
footer {
    padding-block: 80px;
    font-family: "Amita";
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

@media (min-width: 970px) {
    .caja-hola {
        height: 635px;
        display: flex;
        align-items: center;
        max-width: 1100px;
        margin: auto;
    }
}

@media (min-width: 970px) {

    .caja-hola-informacion,
    .caja-hola-imagen {
        width: 50%;
    }
}

.hola--saludo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 11px;
}

p {
    color: rgb(59, 59, 59);
    line-height: 1.8rem;
}

h1 {
    font-size: 2.7rem;
    padding-bottom: 13px;
    font-family: "Merienda";
}

.hola--descripcion,
.conocimientos--descripcion,
.contactame--descripcion {
    padding-bottom: 40px;
}

.hola--btn {

    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid;
    border-radius: 33px;
    padding: 15px 40px;
    font-family: "Edu TAS Beginner";
}

.hola--img {
    width: 100%;
    padding-top: 33px;
}

@media (min-width: 970px) {

    .hola--img {
        padding-top: 0;
    }
}

/* fin estilos sección hola */

/* estilos sección conocimientos*/

h2 {
    font-family: "Merienda";
    font-size: 2.4rem;
    padding-block: 34px;
}

.conocimientos--descripcion {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 489px;
    margin: auto;
}

.caja-conocimientos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 58px
}

.conocimiento--item {
    padding: 12px 30px;
    border: 0.5px solid;
    border-radius: 7px;
}

@media (min-width: 970px) {
    .conocimiento--item {
        width: 266px;
        height: 266px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.item_img {
    width: 100px;
}

.logo-html,
.logo-css {
    padding-top: 4px;
}

.item_nombre {
    font-size: 1.3rem;
    font-family: "Edu TAS Beginner";
    font-weight: bold;
}

/* fin estilos sección conocimientos */

/* estilos sección frase*/

.frase {
    width: calc(100% + 24px);
    margin-left: -12px;
    background: url(img/fondos/magico.webp);
    background-size: cover;
    background-position: -153px 90px;
    padding: 50px 0px;
}

@media (min-width:970px) {
    .frase {
        width: 100%;
        margin-left: 0px;
        background-position: center;
    }
}

.caja-frase {
    max-width: 600px;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
}

.fa-solid {
    font-size: 6.5rem;
    padding-bottom: 20px;
}

.frase--motivacional {
    font-weight: 600;
    padding-bottom: 28px;
    color: white;
}

.frase--autor {
    font-size: 1.5rem;
}

/* fin estilos sección frase */

/* estilos sección proyectos */

.caja-proyectos-informacion {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.caja-proyectos-items {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.proyectos--descripcion_negrita {
    font-weight: 600;
}

.proyectos--descripcion {
    padding-bottom: 50px;
    max-width: 400px;
    margin: auto;
}

span {
    font-family: "Merienda";
    font-weight: 600;
}

.proyecto--item {
    width: 100%;
    height: 290px;
    border: 1px solid;
    border-radius: 9px;
}

@media (min-width: 970px) {
    .proyecto--item {
        width: calc(100% / 3 - (10px * 2));
    }
}

.proyecto--item .item_img {
    width: 75%;
    height: 200px;
    padding: 10px;
}

.proyecto--item .item_nombre {
    padding-top: 10px;
}

/* fin estilos sección proyectos*/

/* estilos sección contacto */

.contacto {
    background: url(img/fondos/marmol\ rosa.webp);
    background-size: cover;
    padding-block: 99px;
}

@media (min-width: 970px) {
    .caja-contacto {
        width: 100%;
        text-align: left;
        max-width: 1100px;
        margin: auto;
        display: flex;
    }
}

@media (min-width: 970px) {

    .caja-contacto-contactame,
    .formulario-contacto-escribime {
        width: 50%;
    }
}

.contactame--descripcion {
    max-width: 460px;
}

.contactame_span {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.contactame--redes {
    padding-left: 63px;
    padding-bottom: 50px;
}

.contactame--redes a {
    font-size: 1.3rem;
    font-family: "Edu TAS Beginner";
    display: flex;
    gap: 25px;
    padding-bottom: 19px
}

.contactame--redes span img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.formulario-contacto-escribime {
    text-align: left;
    padding: 0px 10px 30px;
}

.escribime--titulo {
    text-align: center;
}

@media (min-width: 970px) {
    .escribime--datos {
        display: flex;
        gap: 6px;
    }
}


label {
    width: 100%;
    font-family: "Edu TAS Beginner";
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
}

.formulario-contacto-escribime span img {
    width: 8px;
    padding-bottom: 4px;
}

input,
textarea {
    width: 100%;
    padding: 6px 20px;
    border-radius: 24px;
    font-family: "Amita";
    margin-bottom: 20px;
}

textarea {
    height: 200px;
}

.escribime--btn {
    width: 130px;
    font-family: "Edu TAS Beginner";
    font-size: 1.1rem;
    font-weight: 600;
    padding: 13px 20px;
    border-radius: 28px;
}

/* fin estilos sección contacto*/

/* comienzo estilos footer */

footer {

    height: 250px;
    background: url(img/fondos/fondo-footer.gif);
    padding: 55px 20px 30px;
    flex-direction: column;
}

@media (min-width: 970px) {
    footer {
        width: 100%;
        margin-left: 0px;
    }
}

.footer-nav {
    display: none;
}

@media (min-width: 970px) {
    .footer-nav {
        display: block;
    }
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
}

.footer-redes {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;
}

.footer-redes a {
    border: 1px solid;
    border-radius: 50%;
    padding: 15px;
    display: flex;
}

.footer-redes img {
    width: 25px;
}

.footer--span {
    font-family: "Edu TAS Beginner";
    font-size: 1.2rem;
    margin-left: 3px;
}

/* fin estilos footer */