@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;700&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 12px;
}

@media (min-width: 970px) {
    body {
        padding: 0px;
    }
}

/* comienzo estilos header */

header {
    display: none;
    font-family: "Agbalumo";
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #A8D2Bf, rgb(193 189 189), #E9BAD9);
    z-index: 1;
}

@media (min-width: 970px) {
    header {
        display: block;
    }
}

nav {
    height: 90px;
    font-size: 1.5rem;
    margin: auto;
}

@media (min-width: 970px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 1200px;
    }
}

/* animación en el header */

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 10px 0;
    animation-duration: 3s;
    animation-name: movimiento-items;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes movimiento-items {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* fin animación en el header */

nav a {
    color: mintcream;
}

nav a:hover {
    text-shadow: 0 0 18px #eee;
    color: #d0ffe9;
}

a {
    text-decoration: none;
    color: pink;
}

.nav-contacto {
    border: 2px solid;
    padding: 8px 30px 10px 30px;
    border-radius: 37px;
    box-shadow: inset 0 0 0 0 #caffe6;
    transition: ease-out 0.4s;
}

.nav-contacto:hover {
    color: #fff;
    box-shadow: inset 0 0 0 50px #a9d1bf;
}

/* fin estilos header */

/* comienzo estilos main */

/* estilos sección hola*/
section {
    scroll-margin-top: 90px;
}

.hola,
.conocimientos,
.frase,
.proyectos,
.contacto,
footer {
    padding-block: 80px;
    font-family: "Amita";
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}

@media (min-width: 970px) {
    .caja-hola {
        height: 635px;
        display: flex;
        align-items: center;
        max-width: 1100px;
        margin: auto;
    }
}

@media (min-width: 970px) {

    .caja-hola-informacion,
    .caja-hola-imagen {
        width: 50%;
    }
}

.hola--saludo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 11px;
}

p {
    color: rgb(59, 59, 59);
    line-height: 1.8rem;
}

/* color gradiente para h1 */

h1 {
    font-size: 2.7rem;
    padding-bottom: 13px;
    display: inline-block;
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}

h1:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

/* fin color gradiente */

@media (min-width: 970px) {
    h1 {
        font-size: 3.5rem;
    }
}


.hola--descripcion,
.conocimientos--descripcion,
.contactame--descripcion {
    padding-bottom: 40px;
}

.hola--btn {

    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 15px 70px;
    font-family: "Edu TAS Beginner";
    background-image: linear-gradient(to right, #accebe 0%, #e7bad7 51%, #accebe 100%);
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
}

.hola--btn:hover {
    background-position: right center;
    color: #f7dfdf;
}

.hola--img {
    width: 100%;
    padding-top: 33px;
}

@media (min-width: 970px) {
    .hola--img {
        padding-top: 0;
    }
}

/* fin estilos sección hola */

/* estilos sección conocimientos*/

h2 {
    font-family: "Merienda";
    font-size: 2.4rem;
    padding-block: 34px;
    /* color: pink;
        text-shadow: 0px 0px 7px black;*/
}

.conocimientos--descripcion {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 489px;
    margin: auto;
}

.caja-conocimientos-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 58px
}

.conocimiento--item {
    padding: 12px 30px;
    border-radius: 7px;
    background: rgb(236, 241, 241);
    position: relative;
    overflow: hidden;
}

@media (min-width: 970px) {
    .conocimiento--item {
        width: 266px;
        height: 266px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* animación de la caja conocimientos */

.conocimiento--item span {
    position: absolute;
    transition: .5s;
}

.conocimiento--item span:nth-child(1) {
    width: 100%;
    height: 5px;
    bottom: 0;
    left: -100%;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
}

.conocimiento--item span:nth-child(2) {
    width: 5px;
    height: 100%;
    bottom: -100%;
    right: 0;
    background: #ffc9ed;
}

.conocimiento--item span:nth-child(3) {
    width: 100%;
    height: 5px;
    top: 0;
    right: -100%;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
}

.conocimiento--item span:nth-child(4) {
    width: 5px;
    height: 100%;
    top: -100%;
    left: 0;
    background: #a9d1bf;
}

.conocimiento--item:hover span:nth-child(1) {
    left: 0;
}

.conocimiento--item:hover span:nth-child(2) {
    bottom: 0;
}

.conocimiento--item:hover span:nth-child(3) {
    right: 0;
}

.conocimiento--item:hover span:nth-child(4) {
    top: 0;
}

/* fin animación de la caja conocientos */

.item_img {
    width: 100px;
}

.logo-html,
.logo-css {
    padding-top: 4px;
}

.item_nombre {
    font-size: 1.3rem;
    font-family: "Edu TAS Beginner";
    font-weight: bold;
}

/* fin estilos sección conocimientos */

/* estilos sección frase*/

.frase {
    width: calc(100% + 24px);
    margin-left: -12px;
    background: url(img/fondos/magico.webp);
    background-size: cover;
    background-position: -153px 90px;
    padding: 50px 0px;
}

@media (min-width:970px) {
    .frase {
        width: 100%;
        height: 700px;
        margin-left: 0px;
        background-position: center;
    }
}

.caja-frase {
    max-width: 600px;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    text-shadow: 0 0 7px black;
}

.fa-solid {
    font-size: 6.5rem;
    padding-bottom: 20px;
}

.frase--motivacional {
    font-weight: 600;
    padding-bottom: 28px;
    color: white;
}

.frase--autor {
    font-size: 1.5rem;
}

/* fin estilos sección frase */

/* estilos sección proyectos */

.caja-proyectos-informacion {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.caja-proyectos-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.proyectos--descripcion_negrita {
    font-weight: 600;
}

.proyectos--descripcion {
    padding-bottom: 50px;
    max-width: 400px;
    margin: auto;
}

.proyectos_span {
    font-family: "Merienda";
    font-weight: 600;
}

.proyecto--item {
    width: 100%;
    height: 290px;
    background: #fffafa;
    border-radius: 9px;
    position: relative;
}

/* sombra degrade */

.item_hover {
    width: 100%;
    height: 290px;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
    border-radius: 9px;
    position: absolute;
    filter: blur(15px);
    display: none;
}

.proyecto--item:hover .item_hover {
    display: block;
    transform: scale(1.1);
    z-index: -2;
}

/* .proyecto--item::before {
    content: "";
    background: linear-gradient(to bottom, #a9d1bf, #ffc9ed);
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: scale(1.1);
    filter: blur(15px);
    display: none;
}

.proyecto--item:hover ::before {
    display: block;
} */

/* fin sombra degrade */

.proyecto--item span {
    position: absolute;
}

.proyecto--item span:nth-child(2) {
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
}

.proyecto--item span:nth-child(3) {
    width: 5px;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #ffc9ed;
}

.proyecto--item span:nth-child(4) {
    width: 100%;
    height: 5px;
    top: 0;
    right: 0;
    background: linear-gradient(to right, #a9d1bf, #ffc9ed);
}

.proyecto--item span:nth-child(5) {
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background: #a9d1bf;
}

@media (min-width: 970px) {
    .proyecto--item {
        width: calc(100% / 3 - (10px * 2));
    }
}

.proyecto--item .item_img {
    width: 75%;
    height: 200px;
    padding: 10px;
}

.proyecto--item .item_nombre {
    padding-top: 10px;
    color: #558d8e;
}

/* fin estilos sección proyectos*/

/* estilos sección contacto */

.contacto {
    width: calc(100% + 24px);
    margin-left: -12px;
    background: url(img/fondos/marmol\ rosa.webp);
    background-size: cover;
    padding-block: 99px;
}

@media (min-width: 970px) {
    .contacto {
        width: 100%;
        margin-left: 0;
    }
}

@media (min-width: 970px) {
    .caja-contacto {
        width: 100%;
        background-color: #f0dadf;
        background-size: cover;
        box-shadow: 0px 0px 7px black;
        border-radius: 17px;
        padding: 17px;
        text-align: left;
        max-width: 1100px;
        margin: auto;
        display: flex;
    }
}

@media (min-width: 970px) {

    .caja-contacto-contactame,
    .formulario-contacto-escribime {
        width: 50%;
    }
}

.contactame--titulo,
.escribime--titulo {
    text-shadow: 0px 0px 7px #a10b25;
}

.contactame--descripcion {
    max-width: 460px;
    padding-inline: 9px;
}

.contactame_span {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.contactame--redes {
    padding-bottom: 50px;
    display: inline-flex;
    flex-direction: column;
}

.contactame--redes a {
    font-size: 1.5rem;
    font-family: "Edu TAS Beginner";
    display: flex;
    align-items: center;
    gap: 25px;
    padding-bottom: 19px;
    color: #000;
}

.redes .redes_icono {
    display: inline-block;
    width: 56px;
    border: 3px solid transparent;
    padding: 25px;
    border-radius: 50%;
}

.redes:hover .redes_icono {
    border: 3px solid white;
    padding: 25px;
    border-radius: 50%;
}

.redes:hover {
    color: black;
    text-shadow: 0px 0px 7px #a10b25;
}

.redes_instagram .redes_icono {
    background: url(img/redes/redes/instagram.svg)center center no-repeat;
    background-size: 30px;
}

.redes_instagram:hover .redes_icono {
    background: url(img/redes/redes-hover/instagram-hover.svg)center center no-repeat;
    background-size: 30px;
    background-color: pink;
}

.redes_github .redes_icono {
    background: url(img/redes/redes/github.svg)center center no-repeat;
    background-size: 30px;
}

.redes_github:hover .redes_icono {
    background: url(img/redes/redes-hover/github-hover.svg)center center no-repeat;
    background-size: 30px;
    background-color: pink;
}

.redes_linkedin .redes_icono {
    background: url(img/redes/redes/linkedin.svg)center center no-repeat;
    background-size: 30px;
}

.redes_linkedin:hover .redes_icono {
    background: url(img/redes/redes-hover/linkedin-hover.svg)center center no-repeat;
    background-size: 30px;
    background-color: pink;
}

.redes_mail .redes_icono {
    background: url(img/redes/redes/mail.svg)center center no-repeat;
    background-size: 30px;
}

.redes_mail:hover .redes_icono {
    background: url(img/redes/redes-hover/mail-hover.svg)center center no-repeat;
    background-size: 30px;
    background-color: pink;
}

/* .redes_github .redes_icono {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(img/redes/redes/in.svg)center center no-repeat;
    background-size: 25px;
}

.redes_github:hover .redes_icono {
    background: url(img/redes/github-hover.svg)center center no-repeat;
    background-size: 25px;
    border: 1px solid;
    padding: 21px;
    border-radius: 50%;
}

.redes_github:hover {
    color: brown;
} */

.contactame--redes span img {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.formulario-contacto-escribime {
    text-align: left;
    padding: 0px 10px 30px;
}

.escribime--titulo {
    text-align: center;
}

@media (min-width: 970px) {
    .escribime--titulo {
        text-align: left;
    }
}

@media (min-width: 970px) {
    .escribime--datos {
        display: flex;
        gap: 6px;
    }
}

.datos_nombre,
.datos_apellido,
.escribime--mail,
.escribime--mensaje {
    position: relative;
}

label {
    width: 100%;
    font-family: "Edu TAS Beginner";
    font-size: 1.3rem;
    font-weight: 500;
    display: inline-block;
}

.formulario-contacto-escribime span img {
    width: 8px;
    padding-bottom: 4px;
}

input,
textarea {
    width: 100%;
    padding: 6px 20px;
    border-radius: 24px;
    font-family: "Amita";
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid transparent;
}

textarea {
    height: 200px;
}

input:focus,
textarea:focus {
    box-shadow: 0px 0px 7px #000;
}

input:valid:focus,
textarea:valid:focus {
    box-shadow: 0px 0px 5px #88c459;
}

input:invalid:not(:placeholder-shown):focus,
textarea:invalid:not(:placeholder-shown):focus {
    box-shadow: 0px 0px 5px #f5414f;
}

input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown) {
    border: 1px solid #f5414f;
}

input:valid,
textarea:valid {
    border: 1px solid #88c459;
}

.icon-invalid,
.icon-valid {
    display: none;
    position: absolute;
    bottom: 31px;
    right: 20px;
    /* transform: translateY(50%); */
}

.textarea-invalid,
.textarea-valid {
    bottom: 45px;
    right: 15px;
    position: absolute;
}

.icon-valid {
    color: #88c459;
}

.icon-invalid {
    color: #f5414f;
}

input:valid~.icon-valid,
textarea:valid~.icon-valid,
input:not(:placeholder-shown):invalid~.icon-invalid,
textarea:not(:placeholder-shown):invalid~.icon-invalid {
    display: block;
}

.escribime--btn input {
    width: 130px;
    border: 1px solid white;
    background-color: #88c2a8;
    color: white;
}

/* fin estilos sección contacto*/

/* comienzo estilos footer */

footer {
    width: calc(100% + 24px);
    margin-left: -12px;
    height: 250px;
    background: url(img/fondos/fondo-footer.gif);
    padding: 55px 20px 30px;
    flex-direction: column;
}

@media (min-width: 970px) {
    footer {
        width: 100%;
        margin-left: 0px;
    }
}

.footer-nav {
    display: none;
}

@media (min-width: 970px) {
    .footer-nav {
        display: block;
    }
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 25px;
}

.footer-redes {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 35px;
    padding-bottom: 30px;
}

.footer-redes--sociales .footer-redes--icono {
    display: inline-block;
    width: 56px;
    border: 3px solid white;
    padding: 25px;
    border-radius: 50%;
}

.footer-redes--sociales:hover .footer-redes--icono {
    border: 3px solid white;
    padding: 25px;
    border-radius: 50%;
}

.redes--instagram .footer-redes--icono {
    background: url(img/footer/redes/instagram-footer.svg)center center no-repeat;
    background-size: 30px;
    background-color: white;
}

.redes--instagram:hover .footer-redes--icono {
    background: url(img/redes/redes-hover/instagram-hover.svg)center center no-repeat;
    background-size: 30px;
}

.redes--github .footer-redes--icono {
    background: url(img/footer/redes/github-footer.svg)center center no-repeat;
    background-size: 30px;
    background-color: white;
}

.redes--github:hover .footer-redes--icono {
    background: url(img/redes/redes-hover/github-hover.svg)center center no-repeat;
    background-size: 30px;
}

.redes--linkedin .footer-redes--icono {
    background: url(img/footer/redes/linkedin-footer.svg)center center no-repeat;
    background-size: 30px;
    background-color: white;
}

.redes--linkedin:hover .footer-redes--icono {
    background: url(img/redes/redes-hover/linkedin-hover.svg)center center no-repeat;
    background-size: 30px;
}

.redes--mail .footer-redes--icono {
    background: url(img/footer/redes/mail-footer.svg)center center no-repeat;
    background-size: 30px;
    background-color: white;
}

.redes--mail:hover .footer-redes--icono {
    background: url(img/redes/redes-hover/mail-hover.svg)center center no-repeat;
    background-size: 30px;
}

.footer-texto {
    color: rgb(148 142 142);
}

.footer--span {
    font-family: "Edu TAS Beginner";
    font-size: 1.2rem;
    margin-left: 3px;
}

/* fin estilos footer */

/* poner el tabindex, favicon */