@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400;500;600;700&family=Edu+TAS+Beginner:wght@400;500;700&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0px 12px;
}

/* comienzo estilos header */

header {
    display: none;
    font-family: "Agbalumo";
}

@media (min-width: 970px) {
    header {
        display: block;
    }
}

nav {
    height: 90px;
    font-size: 1.5rem;
    max-width: 1200px;
    margin: auto;
}

@media (min-width: 970px) {
    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

ul {
    display: flex;
    list-style: none;
    gap: 25px;
    padding: 10px 0;
    animation-duration: 3s;
    animation-name: movimiento-items;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes movimiento-items {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

a {
    text-decoration: none;
}

/* fin estilos header */

/* comienzo estilos primer sección */

.hola {
    padding: 53px 0px;
}

.caja-hola {
    text-align: center;
}

.caja-hola--informacion {
    font-family: "Amita";
}

.hola--saludo {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 11px;
}

p {
    line-height: 1.4rem;
}

h1 {
    font-size: 2.7rem;
    padding-bottom: 13px;
    font-family: "Merienda";
}

.hola--descripcion {
    font-size: 1rem;
    color: rgb(59, 59, 59);
    padding-bottom: 40px;
}

.hola--btn {
    padding: 15px 40px;
    border-radius: 27px;
    margin-bottom: 43px;
}

img {
    width: 100%;
}

/* fin estilos primer sección */